/* ToolTile.css */

.tool-tile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    width: 15vw;
    height: 15vw;
    margin: 1rem;
    border-radius: 12px;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    border: 1px solid rgb(153, 153, 153); /* Add a simple black border */
    font-family: 'Inter', sans-serif;
  }
  
  .tool-tile-content {
    text-align: center;
    vertical-align: middle;
    padding: .5rem;
    background-color: #e6e6e6;
    border-top: 1px solid rgb(153, 153, 153); ;
    color: black;
  }
  
  .tool-tile-content h3 {
    margin: 0 0 0.5rem 0;
    font-size: calc(.5vw + .5vh + 0.5vmin);
  }
  
  .tool-tile-content p {
    margin: 0.5rem 0;
  }
  
  .tool-tile-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .tool-tile-container {
      width: 50px;
      height: 50px;
    }
  }
  
